@import '../variables/_variables.scss';

.files-sec{
    position: relative;
    z-index: 1;
    background-color: #E1E6E8;
    padding-bottom: 100px;
    &::before{
        content: '';
        position: absolute;
        top: -80px;
        inset-inline-end: 0;
        background-image: url(../img/CompositeLayerF1.png);
        background-repeat: no-repeat;
        width: 160px;
        height: 160px;
        @media (max-width: 992px){
            top: -50px;
            width: 100px;
            height: 100px; 
            background-size: contain;
        }
    }
    &::after{
        content: '';
        position: absolute;
        bottom: -80px;
        inset-inline-start: 0;
        background-image: url(../img/CompositeLayerF2.png);
        width: 240px;
        height: 240px;
        @media (max-width: 992px){
            bottom: -50px;
            width: 150px;
            height: 150px; 
            background-size: contain;
        }
    }
    &> .container{
        position: relative;
        z-index: 3;
        background-color: #E1E6E8;
    }
    .g-head.with-border{
        .title{
        &::before{
            background-color: rgba(0,0,0, .1);
        }
        &::after{
            background-color: rgba(0,0,0, .1);
        }
    }
    }
    .file-box{
        border-inline-start: 1px solid rgba(0,0,0,.1);
        padding-inline-start: 20px;
        margin-bottom: 40px;
        .hold-img{
            max-height: 100px;
            overflow: hidden;
            margin-bottom: 30px;
        }
        .name{
            font-family: $graphology_Bold;
            font-size: $size_20;
            color: #333;
            position: relative;
            margin-bottom: 15px;
            &::before{
                content: '';
                position: absolute;
                top: 0;
                inset-inline-start: -20px;
                width: 8px;
                height: 100%;
                background-color: $mainColor;
            }
        }
        p{
            font-family: $graphology_Light;
            font-size: $size_14;
            color: #333;

        }

    }
}